global
  log stdout format raw local0

defaults
  log global
  mode tcp
  timeout connect 5s
  timeout client  30s
  timeout server  30s

frontend amqp
  bind *:5672
  default_backend amqp_nodes

backend amqp_nodes
  balance roundrobin
  server rabbitmq1 rabbitmq1:5672 check
  server rabbitmq2 rabbitmq2:5672 check
  server rabbitmq3 rabbitmq3:5672 check

frontend rabbitmq_ui
  bind *:15672
  default_backend ui_nodes

backend ui_nodes
  balance roundrobin
  server rabbitmq1 rabbitmq1:15672 check
  server rabbitmq2 rabbitmq2:15672 check
  server rabbitmq3 rabbitmq3:15672 check

